<html>
  <head>
    {{ $main_options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") -}}
    {{ $main_style := resources.Get "sass/alpha.sass" | toCSS $main_options | fingerprint -}}
    <link rel="stylesheet" href="{{ $main_style.RelPermalink }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>{{ .Site.Title }}</title>
  </head>
  <body>

    <header>
      <div class="left">
        <p>fabric/selects</p>
      </div>
      <div class="right">
        <a href="../../">home</a>
        <a href="../../about">about</a>
      </div>
    </header>

    <content>

      {{ $letter := .Params.letter }}
      {{ range (where .Site.RegularPages "Section" "mod") }}
        {{ $firstChar := substr .Params.title 0 1 | lower }}
        {{ if eq $firstChar $letter }}
          <a href="{{ .Permalink }}"><div class="mod">
            <img width="75" height="75" src="{{ absURL .Params.icon }}"></img>
            <div class="text">
              <p class="title">{{ .Params.title }}</p>
              <p class="description">{{ .Params.description }}</p>
            </div>
          </div></a>
        {{ end }}
      {{ end }}

      {{ partial "pagination.html" . }}

    <content>
  </body>
</html>
